body {
  background-color: ;
}
.jumbotron {
  margin-top: 50px;
  margin-bottom: 100px;
}
.jumbotron .hero {
  width: 300px;
  border-radius: 10px;
}
.work .hero {
  width: 100px;
  border-radius: 50%;
}